body {
    padding-top: 2*$space;
    @include mediaMin(769px) {
        padding-top: 2.5*$space;
    }
    @include mediaMin(1024px) {
        padding-top: 80px;
    }
}

.main-header {
        
    // BASICS
        ul {
            list-style-type: none;
            padding: 0;
        }
        a {
            text-decoration: none;
        }
        &,
        &:after {
            #{$right}: 0;
            height: 2*$space;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 20;
        }
        &:after {
            background:$wh;
            border-bottom: 1px solid $dviderColor;
            content: "";
            display: block;
            z-index: 0;
            @include shadow(1);
        }
        @include mediaMin(1024px) {
            background:$wh;
            &:after {
                display: none
            }
        }
        @include mediaMin(769px) {
            height: 2.5*$space;
            &:after {
                height: 2.5*$space;
            }
        }
    // SEARCH
        &__menuCloser{
            display: none;
             @include mediaMax(1023px) {
                background: rgba(0,0,0,0.5);
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: -2;
                visibility: hidden;
                opacity: 0;
                transition: 0.2s;
                right: 0;
                top: 0;
                display: block;
                cursor: pointer;

                &--active{
                    opacity: 1;
                    visibility: visible;
                }

             }
        }
      
       
    // CONTAINER
        &__container {
            display: flex;
            padding: 0;
            @include mediaMin(1024px) {
               
                margin: auto;
                height: 100%;
                align-items: center;
                padding:0 $space/2;
            }
        }
    // LOGO
        &__logo {
            display: block;
            width: 80px;
            height: 20px;
            margin: auto;
            margin-top: $space/2;

            background-size: 100% 100%;
            z-index: 2;
            text-align: center; 
            img{
                max-height:100%;
                max-width:100%;

            }
            @include mediaMin(769px) {
                margin-top: $space;
                width: 2*$space;
            }
            @include mediaMin(1024px) {
                margin: auto;
                float:none;
                flex-basis:130px;
                display: flex;
                  margin-#{$right}:$space;
                img{
                    align-self: center;
                    max-height: 1.8*$space;
                }
            }

            @include mediaMax(1023px) {
                #{$left}: 0;
                #{$right}: 0;
                bottom: 0;
                margin: auto;
                position: absolute;
                top: 0;
            }
        }
    //TOGGLER
    &__menuToggler {
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
        display: block;
        float:$left;
        margin-top: 10px;
        margin-#{$left}: 10px;
        z-index: 2;
        span {
            position: absolute;
            height: 2px;
            background:$bk;
            width: 18px;
            top: 0;
            #{$right}: 0;
            bottom: 0;
            #{$left}: 0;
            margin: auto;
            transition: 0.5s;
            &:first-child {
                top: 7px;
                bottom: auto;
            }
            &:last-child {
                bottom: 7px;
                top: auto;
            }
        }
        &--active{
            span {
                top: 0;
                bottom: 0;
                width: 18px;
                &:nth-child(2) {
                    opacity: 0;
                }
                &:first-child {
                    transform: rotate(45deg);
                    top: 0;
                    bottom: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                    top: 0;
                    bottom: 0;
                }
            }
            &:hover span {
                margin: auto;
            }
        }
        
        @include mediaMin(769px) {
            
            margin-top: 15px;
            margin-#{$left}: 15px;
            position: absolute;
            #{$left}:0;
        }
        @include mediaMin(1024px) {
            &,
            &Over {
                display: none;
            }
        }
        @include mediaMax(1023px) {
            &Over{
                background: rgba(0, 0, 0, 0.5);
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: -2;
                visibility: hidden;
                opacity: 0;
                transition: 0.2s;
                #{$left}: 0;
                top: 0;
                display: block;
                cursor: pointer;
            }
        }
    }

        &__sideMenu {
            @include mediaMax(1023px) {
                box-shadow: -3px 0 10px -2px rgba(0, 0, 0, 0.1);
                transform: translateX(0);
            }
        }
    //SIDE MENUE
        &__sideMenu {
            @include mediaMin(1024px) {
                display: flex;
              
                flex-grow:1;
            }
            @include mediaMax(1023px) {
                #{$left}: 0;
                background: $wh;
                height: 100%;
                overflow-x: hidden;
                padding-#{$left}: $space;
                padding-#{$right}: $space;
                padding-top:  2.5*$space;
                position: fixed;
                top: 0;
                transform: translateX($reverse*-300px);
                transition: 0.2s;
                width: 10*$space;
                z-index: -1;
                .touch &,
                &:hover {
                    overflow-y: scroll;
                }
                &--active{
                    transform: translateX(0);
                }
            }
            @include mediaMax(769px) {
                padding-top:  2*$space;
            }
        }

    //NAVIGATION
        &__nav {
            li {
                >a {
                    font-size: 1rem;
                    font-family: $titleFont;
                    color: $primaryText;
                    font-weight: bold;
                    &:hover {
                        color: $primaryColor;
                        background: $offWhite;
                    }
                   
                }
                &.hasDrop > a{
                    padding-#{$right}:$space;
                    position: relative;
                    &:after{
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 5px solid $ts;
                        border-right: 5px solid $ts;
                        border-top: 5px solid $primaryText;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        #{$right}:$space/4;
                        margin: auto;
                    }
                }
                @include mediaMin(1024px) {
                    display: inline-block;
                    vertical-align: middle;
                    > a {
                        padding:0 $space/2;
                        height: $space;
                        @include rem(16);
                        position: relative;
                        display: block;
                        text-transform: capitalize;
                        width: 100%;
                        height: 100%;
                        line-height: 80px;
                        font-weight: 500;
                        &:hover{
                            color: $primaryColor;
                            background: $ts;
                            &:after{
                                border-top: 5px solid $primaryColor;
                            }
                        }
                    }
                    &.hasDrop{
                        position: relative;
                        > a{
                            position: relative;
                            &:after{
                                border-top: 5px solid $primaryText;
                            }
                            &:hover{
                                &:after{
                                    border-top: 5px solid $primaryColor;
                                }
                            }
                        }
                        &:hover{
                            .dropMenu{
                                visibility: visible;
                                opacity: 1;
                                transform: translateY(0px);
                                @include shadow(4);
                            }
                        }
                    }
                    .dropMenu{
                        visibility: hidden;
                        opacity: 0;
                        transform: translateY(20px);
                        transition: 0.2s;
                        position: absolute;
                        top:99%;
                        #{$left}:0;
                        min-width: 250px;
                        max-height: 300px;
                        overflow-x: hidden;
                        overflow-y:scroll;
                        @include shadow(1);
                        li{
                            display: block; 
                            border-top: 1px solid $dviderColor;
                            &:first-child{
                                border-top: none;
                            }
                           
                            a{
                                height:1.7*$space;
                                line-height:1.7*$space;
                                @include rem(14);
                            }
                        }
                        @include mediaMin(1024px){
                            background:$wh;
                        }
                    }
                }
                @include mediaMax(1023px) {
                    .dropMenu{
                        li a{
                            height:1.5*$space;
                            line-height:1.5*$space;
                            padding-#{$left}:2*$space;
                            @include rem(14);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
            @include mediaMin(1024px) {
                float: $left;
                order: 1;
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                &List{
                    flex-grow: 1;
                    display: flex;
                    padding-top: $space/2;
                    margin-#{$right}:$space/2;
                }
            }
            @include mediaMax(1023px) {
                li {
                    display: block;
                    a {
                        border-bottom: 1px solid $dviderColor;
                        display: block;
                        font-weight: 400;
                        height: 2*$space;
                        line-height: 2*$space;
                        margin-#{$left}:-$space;
                        margin-#{$right}:-$space;
                    }
                    >a{
                        color: $primaryText;
                        padding: 0 $space;
                        @include rem(16);
                        font-weight: bold;
                    }
                }
            }
        }
    //USER
        &__user{
            display: flex;
            align-items: center;
            float: $right;
            flex-basis: 200px;
            flex-grow: 1;
            justify-self: flex-end;
            order: 2;
            justify-content: flex-end;
            max-width: 350px;
            &Logout{
                margin-#{$left}:10px; 
            }
            .form-row + .form-row{
            
                    margin-#{$left}:10px;
                
            }
            
        }

    @include mediaMin(1024px) {
        height: 80px;
        background: $wh;
        @include shadow(1);
    }
}